.App {
  text-align: center;
}

body{
  background-color: rgb(245, 236, 224);
}
.Header{
  background-color: gray;
  font-size: 20px;
  padding: 1px;
  margin-bottom: 30px;
  border: groove;
}

h1{
  font-family: Open+Sans;
  color:#93c7d6;
  font-size: 50px;
}

h3{
  font-family: Kalam;
  color: white;
}

.Home{
  color: #93c7d6;
  padding: 5px;
}

.BucketList{
  color: #93c7d6;
  padding: 5px;
}


.Header{
  background-color: gray;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 1px;
  margin-bottom: 30px;
}

#BucketList {
  text-align: right;
  margin-right: 10px;
}

h1{
  font-family: Open Sans;
  color: rgb(169, 195, 218);
}

h3{
  font-family: Kalam;

}

